.contacts{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 98px;
}

.but{
    font-size: 18px;
    padding: 15px 30px;
    font-weight: bold;
}

.title{
    font-size: 44px;
    font-weight: normal;
}

.map{
    position: relative;
}

.mapWorld{
   width: 80%; 
}

.contactsText{
    display: flex;
    flex-direction: column;
    gap: 48px;
    position: absolute;
    left: 6.5%;
    top: 34%;
    padding: 70px 36px;
    background-color: #1A1919;
    border-radius: 7px;
}

.elem{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title2{
    font-size: 24px;
    font-weight: bold;
}

.desc{
    font-size: 22px;
}