.about{
    display: flex;
    padding: 100px 0;
    row-gap: 20px;
    column-gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

.slogan{
    display: flex;
    flex-direction: column;
    gap:30px;

    max-width: 660px;
}

.title{
    font-weight: normal;
    font-size: 32px;
}

.items{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    column-gap: 30px;
    row-gap: 30px;
}

.hr{
    width: 15%;
    border-color: #CDAA7D;
    border-bottom: 0;
    border-width: 2px;
}

.titleDown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

.title2{
    font-weight: normal;
    font-size: 30px;

}

@media (max-width:1400px){
    .about{
       justify-content: center;
    }
}