.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: max-content;
    border: 2px solid #7e7e7e;
    padding: 20px;
    transition: 0.7s;
    cursor: pointer;
    color: white;

    max-width: 260px;
    max-height: 460px;
}

img{
    max-width: 250px;
    max-height: 300px;
}

.card:hover{
    border: 2px solid #CEA167;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 18px;
}

.brand{
    color: rgb(152, 152, 152);
}

.name{
    font-size: 18px;
    text-transform: uppercase;
}

.price{
    color: #DD9F50;
    font-size: 22px;
}

.buy{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons{
    display: flex;
    gap: 10px;
    margin-top: -15px;
}

.buttons button{
   background-color: #7e7e7e00;
   border: none;
   cursor: pointer;
}
