.wrapperCatalog{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 80px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.search{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    align-items: center;
}

.input_search{
    flex-grow: 1;
    padding: 20px;
    border: 2px solid #CEA167;
    background-color: #cea16700;
    color: white;
    font-size: 20px;
    width: 95%;
    align-self: center;

    background:url('../../img/search.svg') no-repeat right;
    background-position: right 30px center;
}


.search input:focus{
    border: 5px solid #CEA167;
}