
.brands{
    display: flex;
    gap: 40px;
    left: 0;
    list-style: none;
    cursor: pointer;
}

.li_active{
    font-size: 20px;
    font-weight: bold;
}

.li{
    font-size: 18px;
}