.wrapperForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:200px;
    gap: 75px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 75%;
}

.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link{
    border: 2px solid #CDAA7D;
    padding: 20px 100px;
    max-width: 340px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.active{
    border: 2px solid #CDAA7D;
    padding: 20px 100px;
    max-width: 340px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: linear-gradient(10deg, #DD9F50, rgba(255, 192, 203, 0));  
}


.input{
    padding: 20px 25px;
    min-width: 70%;
    background-color: #dda05000;
    color: white;
    font-size: 18px;
}

.btn{
    padding: 12px 50px;
    border: solid 1px black;
    max-width: max-content;
    border: 3px solid #DD9F50;
    background: transparent;
    color:white;
    font-size: 20px;
    cursor: pointer;

    transition: 0.6s;
}

.btn:hover{
    transform: scale(105%);
    background-color: #DD9F50;
}