.wrapperProduct{
    display: flex;
    flex-direction: column;
}

.product{
    display: flex;
    justify-content: center;
    column-gap: 200px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.img{
    width: 30%;
}

.info{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.buttons{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.btn{
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    padding: 7px 12px;
    border: 1px solid #a7a7a7;
    gap: 10px;
    background-color: rgba(0, 128, 0, 0);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:active{
    margin-bottom: -1px;
}