.basketWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.title{
    font-size: 40px;
    font-weight: 400;
    line-height: 140%;
}

.basket{
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
}

.products{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 30px 45px 30px;
    background-color: #1A1919;
    border-radius: 3px;
    font-size: 22px
}

.link{
    text-decoration: none;
    color: white;
    margin-top: 15px;
    font-size: 20px;
}

.payment{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background-color: #1A1919;
    border-radius: 3px;
    font-size: 18px;
    height: max-content;
    align-items: center;
}

.price{
    display: flex;
    column-gap: 70px;
}

.delivery, .itog{
    display: flex;
    column-gap: 50px;
    justify-content: space-between;
}

.itog{
    margin-top: 30px;
}

.itogNum{
    color: #DD9F50;
    font-size: 20px;
}

.paymentTitle{
    margin-bottom: 20px;
}

.makeBay{
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}

.formPayment{
    display: flex;
    flex-direction: column;
    gap: 70px;
}